h2{
	font-weight: normal;
	color:#B5B5B5;
}
table{
	font-family: sans-serif;
	border: 10px solid;
	height: 300px;
	width: 400px;
	text-indent: 10px;
	background-color: #595959;
	color:#F3F3F3;
	border-color: black;
}
#red{
	color: red;
	font-weight: bold;
}
#orange{
	color:#DF6B1E;
	font-weight: bold;
}
.yell{
	color:#E4D986;
	}
.grey{
	color:#B5B5B5;
}
img{
	border-radius:20px;
	height: 15px;
}