li{
	list-style: none;
}
h3, h4{
	font-weight: thin;
	padding-bottom:0px; 
}
h3{
	color:#BF8E0D;
}
h4{
	color:#D9C48D;
}
.container{
	width: 70%;
	min-height: 80%;
	margin:0px auto;
	border-radius: 0px 0px 10px 10px;
	float:left;
	font-family: Arial;
}
.sidebar{
	height: 90%;
	width: 235px;
	float:left;
	margin-bottom: 10px;
}
.icon{
	height: 90px;
	margin-bottom: 10px;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 10px 3px 10px #888888;
	text-align: center;
	background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.icon p{
	font-size: 1em;
}
.controls{
	margin-top: 20px;
	border: 2px solid #8D7E5C;
	border-radius: 5px 5px 5px 5px;
}
.controls a{
	text-decoration: none;
}
.recent{
	margin-top: 20px;
	font-size: 0.9em;
	text-align: justify;
	border-radius: 5px 5px 5px 5px;
	background: rgb(249,252,247); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 */
}
.recent article{
	padding-left: 20px;
	padding-right: 20px;
}
.more{
	float:right;
}
.centerx p{
	font-size: 0.8em;
}
.support{
	width: 235px;
	height: 100px;
	background: url(../img/support.png);
}
.lady{
	width: 148px;
	height: 114px;
	border:5px solid #E7E0CE;
	float:left;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 20px;
	border-radius: 5px 5px 5px 5px;
	background: url(../img/arq2.png) -101px -9px;
}
.arch{
	font-size: 2em;
}	
.center{
	height: 90%;
	width: 68%;
	/*margin-right: 5px;*/
	margin-left: 29px;
	float:left;
}
.centerx{
	float:left;
}
.cabecera{
	width: 505px;
	height: 274px;
	float:right;
	background: url(../img/arq3.png);
	border-radius: 0px 0px 20px 20px;
}
footer{
	padding-top: 20px;
	width: 70%;
	height: 50px;
	float:left;
	text-align: center;
	background: #DFD4B5;
}
.uno{
	width: 50%;
	float: left;
}
.foot{
	width: 94px;
	height: 69px;
	float:left;
	padding-left: 2px;
	padding-right: 2px;
	border:5px solid #E7E0CE;
	border-radius: 5px 5px 5px 5px;
	margin-right: 20px;
	margin-left: 20px;
	/*padding-bottom:0.5em;*/
}
.un{
	background: url(../img/arq2.png)-1px -26px;
}
.do{
	background: url(../img/arq2.png)-252px -26px;
}