.container{
	width: 50%;
	min-height: 330px;
	background: #5E5D5D;
}
.members{
	background: #5E5D5D;
	margin:auto 0;
}
.text{
	float:left;
}
td{
	margin-left: 10px;
}
h3{
	color:#FFF;
	font-size: 1.5em;
}
h2{
	color:#FBFF80;
	font-weight:normal;
	font-size: 2em;
}
.monitor{
	width: 50px;
	height: 53px;
	background:url(../img/monitor.png);
}
.boton{
	width: 58px;
	height: 30px;
	padding-top: 15px;
	padding-right: 20px;
	background:url(../img/button.png) -3px -3px;
	border-radius: 15px 15px 15px 15px;

}
.centrate{
	text-align: center;
	margin:auto 0;
	line-height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.division{ 
    margin:0px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(grey), to(grey), color-stop(50%, black));
}
p{
	padding: 5px 5px 10px 10px;
	font-size: 1em;
	font-family:Arial;
	color:#ccc;
} 
span{
	color:#fff;
}
h2{
	padding: 0px 0px 0px 10px;
}