body{
	background: #ccd222;
	height: 100%;
}
.sec1{
	width: 30%;
	float:left;
	margin-left: 2%;
	display: block;
	font-family: arial;
}
.sec2{
	width: 20%;
	float:left;
	margin-left: 2%;
	display: block;
	font-family: arial;
}
.slide1{
background: url(../img/slide1.jpg);
}
.slide2{
background: url(../img/slide2.jpg);
}
.slide3{
background: url(../img/slide3.jpg);
}
.slide4{
background: url(../img/slide4.jpg);
}
.punio{
	height: 125px;
	width: 125px;
	margin-left: 11%;
	background:url(../img/hulkk.png);
}
.icono{
float: left;
width: 201px;
height: 110px;
border-radius: 5px;
}
.icono2{
float: left;
width: 103px;
height: 125px;
border-radius: 5px;
border: 7px solid #aaa;
}
.comic{
	background:url(../img/marvel.jpg);
	margin-left: 12%;
}
.slid{
width: 50%;
height: 190px;
border: 7px solid #fff;
box-shadow: 5px 5px 5px 5px #aaa;
-webkit-box-shadow: 5px 5px 5px 5px #aaa;
-moz-box-shadow: 5px 5px 5px 5px #aaa;
-o-box-shadow: 5px 5px 5px 5px #aaa; 
margin-left: 20%;
}
header{
	width:100%;
	min-height: 30%;
	text-align: center;
	float:left;
}
#wrapper{
	width: 100%;
	height: 50%;
	float:left;
}
#prueba{
	text-align: center;
	font-family: 'actionj';
	font-size: 3em;
	margin-bottom: -70px;
	margin-top: -50px;
}
#content{
	height: 20%;
	margin-top: 20px;
	float:left;
	border: 2px solid #000;
	border-style:dashed;
	margin-left: 20%;
}
@font-face{
	font-family: 'actionj';
	src:url(../fonts/actionj.ttf);
}
footer{
	height: 30%;
	width: 100%;
	background:#ccc;
	float:left;
	position: absolute;
	bottom: 10px;
	color:rgb(66, 57, 57);
}
.intento{
	height: 160px;
	width: 100%;
	background:url(../img/skyline1.png) repeat center top 0px;
	position:absolute;
	bottom: 0px; 
	background-clip:
}
.intento .sec1{
	width: 20%;
	margin-left: 10%;
}
.sidebar{
	width: 15%;
	height: 50%;
	background-color: #CCCCCC;
	position: absolute;
	left:2%;
	top:13%;
	border: 2px solid #000;
	border-style:dashed;
}
.sidebar a{
	text-decoration: none;
}
.sidebar li{
	list-style: none;
}
.sidebar a:hover{
	background-color: #ccc;
	display: block;
	width: 90px;
}
.texto{
	font-family: 'chicken';
	font-size: 2.5em;
}
@font-face{
	font-family: 'chicken';
	src:url(../fonts/ChickenButt.ttf);
}
ul, li{
	margin: 3%;
	padding: 0;
}
.login{
	float:left;
	width: 20%;
	height: 200px;
	display: table-cell;
	border: 2px solid #000;
	border-style:dashed;
	margin-left: 5%;	
}