body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../img/fondo1.png);
  width: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
/*.form-signin .checkbox {
  font-weight: normal;
}*/
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.intento{
  height: 160px;
  width: 100%;
  background:url(../img/skyline1.png) repeat center top 0px;
  position:absolute;
  bottom: 0px; 
  background-clip:
}
.icono{
float: left;
width: 201px;
height: 110px;
border-radius: 5px;
}
.slid{
width: 50%;
height: 190px;
border: 7px solid #fff;
box-shadow: 5px 5px 5px 5px #aaa;
-webkit-box-shadow: 5px 5px 5px 5px #aaa;
-moz-box-shadow: 5px 5px 5px 5px #aaa;
-o-box-shadow: 5px 5px 5px 5px #aaa; 
margin-left: 20%;
}
.slide1{
background: url(../img/slide1.jpg);
}
.slide2{
background: url(../img/slide2.jpg);
}
.slide3{
background: url(../img/slide3.jpg);
}
.slide4{
background: url(../img/slide4.jpg);
}